<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Hello page</title>
</head>
<body>
<div>
    <h1>Смотри чё умею</h1>
    <p>Скорее всего я скинул это вам чтобы повыёбываться</p>
</div>
<div>
    <h2>Но если твоя фамилия Шорин, то читай дальше...</h2>
    <pre>
    /players/ - возвращает массив игроков

    /players/ (POST) - принимает json с одним игроком на добавление, возвращает его же

    /players/{id} - возвращает одного игрока с указанным id (/players/2)

    -------------------------

    /sessions/ - массив сессий

    /sessions/ (POST) - принимает json с одной сессией на добавление

    /sessions/{id} - одная сассия с указанным id (/sessions/1)

    /sessions/{sessionId}/add/{playerId} (PUT) - добавляет игрока в сессию по указанным id (полное говно, скоро переделаю)

    -------------------------

    {
    "userId" : 1, //игрок, который сейчас ходит
    "place" : 32  //его текущее положение на игровом поле (от 0 до 35 включительно, где 0 это стартовая позиция)
    }

    /action/rolldice/ (PUT) - принимает json указанного выше типа, возвращает результат броска костей
    </pre>
</div>

</body>
</html>